.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1{
  text-align: left;
  color:#003255;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:60px;
}
h2{
  
    text-align: left;
    color:#003255;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:40px;
  
}
hr{
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #ffd700;
  border-width: 5px;
  color: #ffd700;
}
ul{
  list-style: none;
  position:absolute;
  left: 0px;
}
.hello{
  
  position: relative;
  left: 1500px;
}
.hello2{
  text-align: left;
    color:#003255;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:40px;
    position: absolute;
    left: 900px;
    top:150px;
}
.ques{
  text-decoration-style: double;
}